:root {
    --button-width: 70px;
    --button-height: 70px;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75vw;
}

.content-calc_body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    grid-gap: 1px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}
.content-calc_body-screen{
    grid-column: 1 / span 4;
    grid-row: 1;
    display: flex;
    background: black;
    width: 100%;
    font-family: "Orbitron", sans-serif;
    font-size: 24px;

}
.content-calc_body-screen p {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px;

}
.content-calc_body-button{
    background: #aeafae;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-width);
    height: var(--button-height);
    font-family: "Orbitron", sans-serif;
    font-size: 1.25rem;
    margin: 0px;
}
.content-calc_body-button:hover:not(.function, .clear-button, .equal-button) {
    background: #bdbdbd;
}
.function, .clear-button, .equal-button{
    background: #ffa500;
    font-size: 1.5rem;
}
.function:hover, 
.clear-button:hover, 
.equal-button:hover{
    background: #fab535;
}
.clear-button, .equal-button, .num0{
    width: 100%;
}
.clear-button {
    grid-column: 1 / span 2;

}
.equal-button {
    grid-column: 3 / span 2;
}
.num0{
    grid-column: 1 / span 2;
    grid-row: 6;
}
.footer{
    background: #dcdcdc;
    width: 100vw;
    text-align: center;
    margin-bottom:-10px;
    padding: 20px;
    position: relative;
}
.footer::after{
    position: absolute;
    content: "KS";
    font-size: 26px;
    right: 15px;
    bottom: 15px;
    transform: rotate(-45deg);
}